<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
        <link rel="stylesheet" href="{% static "src/styles.css" %}">
    <title>DjangoCrm</title>
</head>
<body class="">
    {% include 'navbar.html' %}
    <div class="">
        {% if messages %}
            {% for message in messages %}
                <ul class="bg-yellow-200 p-2">
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
        
        {% block content %}{% endblock %}

        
    </div>
</body>
</html>