{% extends 'base.html' %}{% block content %}

<p class="font-extrabold">
    Customer Record:
</p>
<br/>
<div class="mx-3 font-semibold">
    {{ customer_record.first_name }} {{ customer_record.last_name }}
    <div>
    <p>
        <strong>Email: </strong>{{ customer_record.email }}
    </p>
    <p>
        <strong>Phone: </strong>{{ customer_record.phone }}
    </p>
    <p>
        <strong>Address: </strong>{{ customer_record.address }}
    </p>
    <p>
        <strong>City: </strong>{{ customer_record.city }}
    </p>
    <p>
        <strong>State: </strong>{{ customer_record.state }}
    </p>
    <p>
        <strong>Zipcode: </strong>{{ customer_record.zipcode }}
    </p>
    <p>
        <strong>ID: </strong>{{ customer_record.id }}
    </p>
    </div>
</div>
<br/>
<a class="bg-gray-400 hover:bg-gray-300 px-4 py-2 rounded-md text-white" href="{% url 'home' %}">Back</a>
<a class="bg-red-400 hover:bg-red-300 px-4 py-2 rounded-md text-white" href="{% url 'delete_record' customer_record.id %}">Delete</a>
<a class="bg-blue-400 hover:bg-blue-300 px-4 py-2 rounded-md text-white" href="{% url 'update_record' customer_record.id %}">Update Record</a>
{% endblock %}